<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Todo App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-img">
    <h1>Today,</h1>
    <h5>{{ currentDate | date:'shortDate' }}</h5>

    <ion-card *ngFor="let task of allTasks">
      <ion-item-sliding>
        <ion-item>
          <ion-checkbox
            (ionChange)="changeCheckedValue(task.checked, task.id)"
            [checked]="task.checked"
          ></ion-checkbox>
          <ion-label>
            <p *ngIf="!task.checked">{{ task.text }} </p>
            <p *ngIf="task.checked" style="text-decoration: line-through">
              {{ task.text }} 
            </p>
            <p>{{ task.date | date:'shortTime'}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option (click)="presentAlert(task.id)" color="danger"
            >Delete</ion-item-option
          >
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-item *ngIf="!showAddButton">
      <ion-input #i placeholder="Saisir une tâche"></ion-input>
      <ion-button shape="round" (click)="addNewTask(i.value)">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-button
      (click)="toggleBtn()"
      *ngIf="showAddButton"
      color="dark"
      expand="block"
      >Ajouter une tâche</ion-button
    >
    <ion-button
      (click)="toggleBtn()"
      *ngIf="!showAddButton"
      color="danger"
      expand="block"
      >Annuler</ion-button
    >
  </div>
</ion-content>
